<% layout('layout') -%>
<div id="mario-chat">
  <div id="chat-window">
    <div id="output">
    </div>
  </div>
  <h2 id="sender">You</h2>
  <input id="message" type="text" placeholder="message" />
  <button id="chat-send">send</button>
</div>

